@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
input{
    display: none;
}
.container{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.top-content{
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-style: 5px;
    box-shadow: 3px 3px 5px lightgray;
}
h3{
    height: 100%;
    background-color: lightgray;
    line-height: 60px;
    padding: 0 50px;
    color: rgb(3, 3, 3);
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: black;
}
#check1:checked~ .container .product-card{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked~ .container .product .antibio
{    
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked~ .container .product .cough,
#check2:checked~ .container .product .fever,
#check2:checked~ .container .product .diarrhea,
#check2:checked~ .container .product .Vitamins
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check3:checked~ .container .product .cough
{    
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check3:checked~ .container .product .antibio,
#check3:checked~ .container .product .fever,
#check3:checked~ .container .product .diarrhea,
#check3:checked~ .container .product .Vitamins
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check4:checked~ .container .product .diarrhea
{    
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check4:checked~ .container .product .antibio,
#check4:checked~ .container .product .cough,
#check4:checked~ .container .product .fever,
#check4:checked~ .container .product .Vitamins
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check5:checked~ .container .product .fever
{    
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check5:checked~ .container .product .antibio,
#check5:checked~ .container .product .cough,
#check5:checked~ .container .product .diarrhea,
#check5:checked~ .container .product .Vitamins
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check6:checked~ .container .product .Vitamins
{    
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check6:checked~ .container .product .antibio,
#check6:checked~ .container .product .cough,
#check6:checked~ .container .product .diarrhea,
#check6:checked~ .container .product .fever
{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.product .product-card{
    z-index: 1;
    background: #1d212b;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}
.product .product-card:before{
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product .product-card .product-img{
    z-index: 1;
    position: absolute;
    max-width: 350px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product .product-card .name{
    z-index: 2;
    color: #fff;
    position:absolute;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
    letter-spacing: 1px;
}
.product .product-card .price{
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    width: 100%;
    text-align: center;
    left: 0%;
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;
}
.product .product-card .popup-btn{
    z-index: 2;
    color:#fff;
    background: #555;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.product .popup-view{
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.product .popup-view.active{
    opacity: 1;
    visibility: visible;
}
.product .popup-card{
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.product .popup-card .product-img{
    z-index: 2;
    background:#1d212b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product .popup-card .product-img img{
    z-index: 2;
    position: relative;
    width: 450px;
    left: 10px;
}
.product .popup-card .info{
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}
.product .popup-card .close-btn{
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
.product .popup-card .info h2{
    font-size: 30px;
    line-height: 20px;
    margin: 10px;
}
.product .popup-card .info h2 span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.product .popup-card .info p{
    font-size: 15px;
    margin: 10px;
}
.product .popup-card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
.product .popup-card .info .add-cart-btn{
    color: #fff;
    background: #009dd2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}
.product .popup-card .info .add-wish{
    color: #009dd2;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

@media(max-width:900px){
    .product .popup-card{
        flex-direction: column;
        width: 550px;
        height: auto;
    }
    .product .popup-card .product-img{
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .product .popup-card .product-img img{
        left:initial;
        max-width: 100%;
    }
    .product .popup-card .info{
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .product .popup-card .info h2{
        margin: 20px 5px 5px 5px;
        font-size: 20px;
    }
    .product .popup-card .info h2 span{
        font-size: 10px;
    }
    .product .popup-card .info p{
        margin: 5px;
        font-size: 30px;
    }
    .product .popup-card .info .add-cart-btn{
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
    }
    .product .popup-card .info .add-wish{
        font-size: 14px;
    }
    .product .popup-card .close-btn{
        z-index: 4;
    }
}
